#files li {
    list-style-type: none;
    margin: 5px 0;
}
#files ul {
    margin-left: 2em;
}
.folder {
    font-weight:bold;
}
.mimeType {
    width: 1.1em;
    margin-right: 0.2em;
    margin-bottom: -0.1em;
}