#albumName {
    font-size: 130%;
    font-weight: bold;
    line-height: 1.4em;
}
#infoBlock {
    font-size: 90%;
    color: #666666;
    margin: 0.5em auto;
}
#infoBlock #infoNav {
    float: right;
    margin-right: 2em;
}
#infoBlock #message {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
#photoContainer {
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.photoBlock {
    display: inline-block;
    margin-bottom: -2px;
    margin-left: 0.4em;
    margin-right: 0.4em;
    text-align: center;
    position: relative;
/* IE hack */
    zoom: 1;
    *display: inline;
}
.photoBlock .photo a {
    display: block;
    border: 1px solid #D0D0D0;
}
.photoBlock .photo img {
    width: 7em;
    height: 6em;
    display: block;
}
.photoBlock .photoDescription {
    font-size: 80%;
    color: #B0B0B0;
    margin-top: 1px;
}