/* 日曆操作區塊 */
#calendarNav td {
    border: 0 !important;
    padding: 5px 2px;
    font-size: 90%;
    vertical-align: middle;
}
#preMonth {
    text-align: left;
}
#preMonth button {
    background-color: #E2E2E2;
}
#nextMonth {
    text-align: right;
}
#nextMonth #loadFestivalMessage {
    padding: 1px 8px;
    color: white;
    background-color: #CC3333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* 日曆格子設定 */
#calendar {
    border-bottom: 7px solid #9BAFF1;
    width: 100%;
}
#calendar #calendarTitle {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
#calendar th {
    font-size: 90%;
    border: 1px solid #9BAFF1;
    text-align: center;
    background-color: #C3D9FF;
    padding: 1px;
}
#calendar td {
    border-left: 1px solid #9BAFF1;
    border-right: 1px solid #9BAFF1;
}
.calendarSpace td {
    line-height: 0.2em !important;
}
/* 節日區塊設定 */
.festival {
    float: right;
    line-height: 1.2em;
    max-width: 5em;
    padding: 0px 4px;
    color: white;
    background-color: #CC3333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* 今天區塊設定 */
.today {
    float: right;
    line-height: 1.2em;
    width: 55%;
    padding: 0px 4px;
    background-color: #FFFF99;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* 日期設定 */
.days td {
    font-size: 80%;
    width: 6em;
    padding: 2px;
    background-color: #E8EEF7;
}
.days .preDays, .days .afterDays {
    background-color: #EEEEEE;
    color: #77778D;
}
/* 事件 */
.event {
    padding: 0 9px;
    font-size: 80%;
    vertical-align: middle;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
/* 一般事件背景色設定 */
    background-color: #164fe3;
    color: white;
}
.event:hover {
    cursor: pointer;
}
.eventHighlight {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.hasNext {
    float: right;
}
/* 事件描述 */
.detail {
    display: none;
}
.datePeriod {
    font-weight: bold;
}
.eventDescription {
    padding-left: 1em;
}
.eventNav {
    font-size: 90% !important;
    text-align: right;
    padding-top: 0.5em;
}
.eventNav a {
    color: blue !important;
}
.eventNav a:hover {
    color: red !important;
}