#pageContent p:first-letter {
    font-size: 120%;
    font-weight: bold;
    margin-left: 2em;
}
#pageContent p {
    padding: 0.5em 1em;
    line-height: 1.5em;
}
#pageContent table {
    margin-left: 2em;
}