.ajaxLink {
    font-size: 80%;
}
#pageContent h1 {
    border-bottom: 2px solid #B5E2F0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 30px;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
.newsNav {
    font-size: 80%;
    float: right;
}
.newsNav img {
    width: 1em;
}
#newsContent {
    padding-left: 2em;
    padding-right: 2.5em;
}
#newsInfo {
    border-top: 1px dotted gray;
    text-align: right;
    margin-top: 1em;
    margin-right: 30px;
    padding-top: 0.5em;
    padding-right: 1em;
    font-size: 70%;
    color: #C8C8C8;
}
#link, #attachment {
    padding: 5px 5px 10px;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 50px;
    background-color: #F0FFE0;
    border: 1px solid #828177;
}
#link legend, #attachment legend {
    margin-left: 0.7em;
    font-weight: bold;
    padding: 0 3px;
}
#link legend {
    color: #FF6633;
}
#attachment legend {
    color: #009900;
}
#link li {
    list-style-type: none;
    margin-left: 2em;
}
#link li img {
    width: 1.1em;
    margin-bottom: -0.2em
}
.file {
    margin: 8px 0 8px 25px;
}
.file img {
    width: 1.2em;
    margin-bottom: -0.2em
}