.ajaxLink {
    font-size: 80%;
}
#pageContent h1 {
    border-bottom: 2px solid #B5E2F0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 30px;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
.newsNav {
    font-size: 80%;
    float: right;
}
.newsNav img {
    width: 1em;
}
#newsContent {
    padding: 5px 2.5em 1.2em 2em;
}
#newsInfo {
    border-top: 1px dotted gray;
    text-align: right;
    margin-top: 1em;
    margin-right: 30px;
    padding-top: 0.5em;
    padding-right: 1em;
    font-size: 70%;
    color: #C8C8C8;
}
/* 附件、連結共同樣式區 */
#link, #attachment {
    padding: 5px 5px 10px;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 50px;
    background-color: #F0FFE0;
    border: 1px solid #828177;
}
#link legend, #attachment legend {
    margin-left: 0.7em;
    font-weight: bold;
    padding: 0 3px;
}
#link .linkItem, #attachment .file {
    margin: 8px 0 8px 25px;
    padding: 3px;
}
/*連結樣式*/
#link legend {
    color: #FF6633;
}
#link .linkItem img {
    width: 1.1em;
    margin-bottom: -0.2em
}
/* 附件樣式 */
#attachment legend {
    color: #009900;
}
#attachment .file img {
    width: 1.2em;
    margin-bottom: -0.2em
}
#attachment .file .fileSize {
    float: right;
    color: #666666;
}
.adminNav {
    float: right;
    font-size: 90%;
    margin-left: 1em;
}