#addNews {
    float: right;
    margin-top: -1.5em;
    margin-right: 0.5em;
}
#newsPageNav {
    text-align: center;
    margin: 0.5em 0.5em 0.5em 0;
}
#newsPageNav #prev, #newsPageNav #next {
    font-size: 110%;
    font-weight: bold;
}
#newsPageNav .pageNumber {
    text-decoration: underline;
    padding: 2px;
    font-size: 90%;
}
#newsPageNav #currentPage {
    font-weight: bold;
}
#newsTable {
    margin-left: 1em;
}
#newsTable table {
    width: 100%;
    border: 2px solid #D4EDC9;
}
#newsTable .postDate {
    width: 3em;
}
#newsTable .officeName {
    width: 4em;
}
#newsTable .newsTitle {
    width: auto;
}