#importantNews h2 {
    margin-left: 2em;
}
#importantNews h3 {
    margin-left: 4em;
}
#importantNews ul {
    margin-left: 6em;
}
#importantNews .postDate {
    color: #949494;
}
#addNews {
    float: right;
    margin-top: -1.5em;
    margin-right: 1em;
}