.userBlock, .photo, .titleName, .duty {
    float: left;
}
#officeContainer {
    margin-top: 0.5em;
    margin-left: 1em;
}
.userBlock {
    padding: 1em 0;
}
.photo img {
    width: 8em;
    border: 1px solid #787878;
}
.titleName {
    margin-left: 1em;
    line-height: 1.2em;
    width: 280px;
}
.userTitleEnglishName {
    font-size: 80%;
    font-style: italic;
    color: #575757
}
.userName {
    font-weight: bold;
    font-size: 120%;
    line-height: 1.3em;
}
.duty {
    width: 350px;
    font-size: 90%;
}
.duty ul {
    padding-left: 1em;
}
.duty li {
    margin: 2px 0;
    list-style-type: decimal;
    line-height: 1.2em;
}