#teacherContainer {
    margin-top: 1em;
}
.memberBlock, .userPhoto {
    float: left;
}
.memberBlock {
    width: 14em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.userPhoto {
    margin-right: 0.5em;
    width: 7em;
    text-align: center;
}
.userPhoto img {
    max-width: 7em;
    max-height: 6em;
}
.text {
    padding-left: 1em;
}
.userName {
    font-weight: bold;
}
.titleName {
    font-size: 90%;
    color: #444444;
}