#teacherContainer {
    margin-top: 1em;
}
.memberBlock {
    float: left;
    width: 260px;
    height: 9em
}
.userPhoto {
    float: left;
    padding-right: 0.5em;
    width: 60%;
    text-align: center;
}
.userPhoto img {
    max-width: 100%;
    max-height: 100%;
}
.text {
    padding-left: 1em;
    line-height: 1.2em;
}
.userName {
    font-weight: bold;
}
.titleName {
    font-size: 90%;
    color: #444444;
}