/* 管理介面操作欄 */
#adminNav {
    font-size: 90%;
    line-height: 1.2em;
    margin-bottom: 2em;
}
#adminNav ul li {
    margin-left: 1em;
}
#adminNav .navTitle {
    margin: 0.3em 0em;
    font-size: 110%;
    font-weight: bold;
}
/* 管理介面說明 */
#attention {
    color: red;
    padding: 7px 0;
    margin-left: 1em;
    font-weight: bold;
}