/* 版面設定 */
body {
    font-family: sans-serif, serif;
    font-size: 15px;
    background-color: #E4E4E4;
}
/* 表格設定 */
th {
    text-align: left;
    vertical-align: top;
}
td {
    text-align: left;
    vertical-align: top;
}
/* 超連結設定 */
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
a:visited {
    color: blue;
}
/* 連外超連結設定 */
.external {
    background: url(/template/img/icon/external.png) no-repeat 97% 50% !important;
    padding-right: 1em;
}
/* AJAX超連結設定 */
.ajaxLink {
    color: blue;
    padding: 0 !important;
}
.ajaxLink:hover {
    color: red;
    cursor: pointer;
}
/* 標題設定 */
h1 {
    font-size: 120%;
    color: #107FF0;
    padding: 3px 0;
}
h2 {
    color: #5D87A0;
    font-size: 100%;
    padding: 3px 0;
}
/* PageWraper */
#pageWraper {
    padding-top: 0.3em;
    border: 1px solid #A8A8A8;
    border-top: 0;
    background-color: white;
}
/* 登入操作區 */
#loginNav {
    font-size: 90%;
    text-align: right;
    margin-bottom: 0.3em;
}
#loginNav li {
    display: inline;
}
/* Header */
#header {
    margin-bottom: 10px;
}
#header a, #header img {
    display: block;
    width: 100%;
    height: 4.5em;
}
/* footer */
#footer {
    margin: 0.5em auto 1em auto;
    padding: 3px;
    font-size: 90%;
    text-align: center;
    color: #365DB4;
}
#footer p {
    line-height: 1.3em;
}
#footer a {
    color: #1F2126;
}
#footer a:hover {
    color: red;
    text-decoration: underline;
}
#footer img {
    width: 1em;
    margin-right: 0.2em;
}
/* 訊息區塊 */
.messageBlock {
    text-align: center;
    background-color: #fff070;
    padding: 2px;
    display: inherit;
}