/* 版面設定 */
* {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
body {
    padding: 8px;
    font-family: sans-serif, serif;
    font-size: 17px;
}
/* 表格設定 */
th {
    text-align: left;
    vertical-align: top;
}
td {
    text-align: left;
    vertical-align: top;
}
/* 超連結設定 */
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
a:visited {
    color: blue;
}
a img {
    border: 0;
}
/* 連外超連結設定 */
.external {
    background: url(/template/img/icon/external.png) no-repeat 100% 50%;
    padding-right: 1em;
}
/* AJAX超連結設定 */
.ajaxLink {
    color: blue;
    padding: 0 !important;
}
.ajaxLink:hover {
    color: red;
    cursor: pointer;
}
a:hover {
    color: red;
}
/* 標題設定 */
h1 {
    font-size: 120%;
    color: #107FF0;
    padding: 3px 0;
}
h2 {
    color: #5D87A0;
    font-size: 100%;
    padding: 3px 0;
}
/* PageWraper */
#pageWraper {
    border: 1px solid #A8A8A8;
}
#header {
    height: 4.5em;
    position: relative;
}
/* Banner */
#banner img {
    display: block;
    position: absolute;
    width: 100%;
    height: 4em;
}
/* 登入操作區 */
#loginNav {
    font-size: 70%;
    text-align: right;
}
#loginNav li {
    display: inline;
}
/* 操作欄 */
#nav {
    font-size: 90%;
}
#nav h1 {
    color: #F07F10;
}
#nav a:hover {
    color: white;
}
#nav img {
    width: 1.1em;
    margin: 0 0.3em;
    margin-bottom: -0.1em;
}
/* 網路連結 */
#webLink img {
    width: 5em;
    height: 2em;
}
#webLink li {
    display: block;
}
/* 管理介面操作欄 */
#adminNav {
    font-size: 90%;
}
#adminNav li {
    list-style-type: none;
}
/* 內容 */
/* space */
#space {
    width: 100%;
    height: 0.5em;
    float: left;
}
/* footer */
#footer {
    clear: left;
    padding: 3px;
    margin: 0px auto;
    font-size: 80%;
    text-align: center;
    background-color: #EAEBEE;
    color: #365DB4;
    border-top: 1px solid #A8A8A8;
}
#footer a {
    color: #858585;
}
#footer a:hover {
    text-decoration: underline;
    color: #1F2126;
}
#footer img {
    width: 1em;
    margin-right: 0.2em;
}
/* 訊息區塊 */
.messageBlock {
    text-align: center;
    background-color: #fff070;
    padding: 2px;
    display: inherit;
}