/* 操作區塊 */
#nav {
    border: 1px solid #A4A4A4;
    padding: 3px;
    font-size: 80%;
    margin-bottom: 1em;
    border-radius: 8px;
}
#nav h1 {
    color: #F07F10;
    margin-bottom: 3px;
    font-size: 120%;
}
#nav img {
    width: 1em;
    margin-right: 3px
}
/* 整體選單設定 */
#menu {
    white-space: nowrap;
}
/* 整體選單hover的效果 */
#menu li:hover, #menu li a:hover, #menu li a:active {
    background: #D8DFEA;
}
/* 第一層選單設定 */
#menu li {
    cursor: pointer;
    color: blue;
}
#menu li a, #menu .parentMenuItem {
    display: block;
    padding: 6px 2px;
}
/* 第二層選單設定 */
#menu li ul {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 6.5em;
    background-color: #ffffff;
    border: 1px solid #A8A8A8;
}
#menu li ul li a {
    display: block;
    padding: 5px;
}
#menu li ul li a:hover, #menu li ul li a:active {
    color: red;
}
/* 網路連結 */
#webLink {
    padding-left: 0.5em;
}
#webLink a {
    display: block;
    margin: 3px 0;
    width: 80px;
    height: 32px;
}
#webLink img {
    width: 100%;
    height: 100%;
}
#webLink li {
    display: block;
}
#showMoreWebLink {
    text-align: right;
    border-top: 1px dotted gray;
    padding-top: 5px;
}
#showMoreWebLink a {
    width: 100px;
}