/* 操作區塊 */
#nav {
    border: 1px solid #A4A4A4;
    padding: 8px 5px;
    font-size: 90%;
    margin-bottom: 1em;
}
#nav h1 {
    color: #F07F10;
    margin-bottom: 3px;
}
#nav img {
    width: 1.1em;
    margin: 0 0.3em;
    margin-bottom: -0.1em;
}
/* 整體選單設定 */
#menu {
    white-space: nowrap;
}
/* 整體選單hover的效果 */
#menu li:hover, #menu li a:hover, #menu li a:active {
    background: yellow;
}
/* 第一層選單設定 */
#menu li {
    border-top: 1px dotted #cccccc;
    cursor: pointer;
    color: blue;
    padding-left: 2px;
}
#menu li a, .parentMenuItem {
    display: block;
    padding: 3px;
}
#menu #end {
    border-bottom: 1px dotted #cccccc;
}
/* 第二層選單設定 */
#menu li ul {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 6.5em;
    background-color: #ffffff;
    border: 1px solid #A8A8A8;
}
#menu li ul li a {
    display: block;
    padding: 3px;
}
#menu li ul li a:hover, #menu li ul li a:active {
    color: red;
}
/* 網路連結 */
#webLink img {
    width: 5em;
    height: 2em;
}
#webLink li {
    display: block;
}