#newsTable th {
    background-color: #D4EDC9;
    padding: 3px 2px 2px 6px;
    vertical-align: middle;
}
#newsTable td {
    padding: 6px 2px 5px 5px;
    border-bottom: 1px solid #DEDEDE;
}
#newsTable .isImportant a:link {
    color: #A64B00;
    font-weight: bold;
}
#newsTable .isImportant a:hover {
    color: red;
}
#newsTable .isImportant img {
    width: 1em;
}