.userBlock, .photo, .titleName, .duty {
	float: left;
}
#officeContainer {
	margin-top: 0.5em;
	margin-left: 1em;
}
.userBlock {
	padding: 1em 0;
}
.photo img {
	width: 6em;
	border: 1px solid #787878;
}
.titleName {
	margin-left: 1em;
	width: 15em;
}
.userTitleEnglishName {
	font-size: 80%;
	font-style: italic;
	color: #575757
}
.userName {
	font-weight: bold;
	font-size: 120%;
}
.duty {
	width: 23em;
}