#fileName {
    color: #878787;
    font-size: 90%;
}
#photoView {
    padding: 0.3em 0;
    text-align: center;
}
#photoView img {
    max-width: 30em;
/* IE6 Hack*/
    width: 30em;
    width: auto !important;
}
#photoNav {
    height: 1.8em;
    font-size: 80%;
    padding-left: 2em;
}
#photoNav small {
    color: #222222;
}
#photoNav img {
    width: 0.8em;
    margin: 0 -0.3em -0.1em -0.3em;
}
#photoDescriptionContainer {
    text-align: center;
}
#photoDescriptionText {
    font-weight: bold;
}
#photoDescriptionNav {
    font-weight: normal;
    font-size: 80%;
}